* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* accounts for any padding and margin, eg. 50px element plus 10px margin, the element will be 40px*/
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-image: url("../public/cold-bg.jpeg");
  background-size: cover; /* scales the image to the smallest possible size while keeping the ratio to cover the background */
  background-position: bottom; /* */
  transition: 0.4s ease-out; /* */
}

.app.warm {
  background-image: url("../public/warm-bg.jpeg");
  /* transition: all 0.4 ease; */
}

main {
  /* only one main element per document, and it refers to the dominant content */
  min-height: 100vh; /* vh = percentage viewport height. This means it covers 100% of the viewport */
  background-image: /* can take multiple images */ linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
  padding: 25px; /* within the element */
}

.search-box {
  width: 100%; /* how much width the element takes up within its parent element */
  margin: 0 0 75px; /* outside the element */
}

/* block direction - up and down */
/* inline direction - across */
/* english is in horizontal writing mode */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flow_Layout/Block_and_Inline_Layout_in_Normal_Flow */

.search-bar {
  display: block; /* */
  width: 100%;
  padding: 15px;

  appearance: none; /* auto means it uses the native OS's theming */
  background: none;
  border: none;
  outline: none; /* outside the border */

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px; /* top left, top right, bottom right, bottom left */
  margin-top: -25px; /* brings the element 25 px up to account for the padding of the main class */

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.75);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.75);
}

.weather-box {
  text-align: center;
}

.weather-box .temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-size: 100px;
  font-weight: 500;
  color: #fff;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  /* text-align: center; */
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.weather-box .weather {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}
